<div class="mb-4 p-4 flex items-center justify-center h-200">

</div>

<!--

<p-datepicker [(ngModel)]="date" />

<i class="pi pi-check" style="font-size: 1rem"></i>
<i class="pi pi-times" style="font-size: 1.5rem"></i>
<i class="pi pi-search" style="font-size: 2rem"></i>
<i class="pi pi-user" style="font-size: 2.5rem"></i>

<div class="mb-4 p-4 flex items-center justify-center">
    <p-card 
      styleClass="confirmation-card text-center w-500 md:w-200 lg:w-300 shadow-3 p-6 border-round"
      [style]="{ height: '350px', maxWidth: '500px' }">
      
      
      <div class="flex items-center mb-6">
        <img src="check.png" 
             alt="Confirmación" 
             class="mr-4" 
             style="width: 100px; height: 100px; object-fit: contain;" />
        
        <div class="flex flex-col items-start">
          <div class="flex items-center">
            <span class="font-bold text-2xl">Cita completada</span>
          </div>
        </div>
      </div>
  

      <div class="text-left mb-6">
        <p class="mb-0">Revisa los detalles en el panel de administración</p>
      </div>
  

      <div class="flex justify-end">
        <p-button label="Redireccionando a la página principal" styleClass="p-button-rounded"></p-button>
      </div>
  
    </p-card>
  </div>


-->

        <!-- Descripción -->
      <!-- Botón -->
<!-- Primera fila: Imagen + Título e icono -->